# 构建输出
build/

# QEMU 调试文件
qemu*.log
qemu*.ppm
vgadump*.bin
qmp_check.*
dump_vga.py
qemu_int.log

# Bochs 日志
build\bochs.log
build\debugger.log
build\serial.log
build\bochs_stdout.log
build\bochs_stderr.log

# 临时文件
.gitmessage
*.tmp

# 编辑器
.vscode/
.idea/
*.swp
*.swo

# 编译中间文件
*.o
*.d
